{% extends 'SRLAB/index_usuario.html' %}

{% block corpo %}
   <div class="tamanho_30">
<form action="" method="post">{% csrf_token %}
    <h1>RESERVAS</h1><BR/>
    <div class="form-group">
        <label for="id_Data_da_Reserva">Data da Reserva:</label>
        <input type="DATE" class="form-control" id="id_Data_da_Reserva" name="Data_da_Reserva">
    </div>
    <div class="form-group">
        <label for="id_Horario_Reserva">Horario reserva:</label>
        <input id="id_Horario_Reserva" class="form-control" name="Horario_Reserva" type="time">
    </div>
    <div class="form-group">
        <label for="id_Tipo_Aula">Tipo Aula:</label>
       <select id="id_Tipo_Aula" class="form-control" name="Tipo_Aula">
            {% for TipoDeaula in TipoAula %}
                <option value="{{ TipoDeaula.id }}" >{{ TipoDeaula }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="id_Laboratorio">Laboratório:</label>
        <select id="id_Laboratorio" class="form-control" name="Laboratorio">
            {% for lab in Laboratorios %}
                <option value="{{ lab.id }}" >{{ lab }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="id_Uso_Internet">Uso Internet:</label>
        <select id="id_Uso_Internet" class="form-control" name="Uso_Internet">
            {% for usoInternet in UsoDeInternet %}
                <option value="{{ usoInternet.id }}" >{{ usoInternet }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="id_Nome_Usuario">Nome usuario:</label>
        <input id="id_Nome_Usuario" class="form-control" maxlength="30" name="Nome_Usuario" type="text">
    </div>
    <div class="form-group">
        <label for="id_Email">Email:</label>
        <input id="id_Email" maxlength="60" class="form-control" name="Email" type="text">
    </div>
    <input type="submit" class="btn btn-success" value="Cadastrar">
</form>
    </div> 
{% endblock %}

