{% extends 'SRLab/index_usuario.html' %}

{% block corpo %}
    <h1>Relatório de Reservas não atendidas.</h1>
    <br/>
    <table class="table table-bordered">
    <tr>
        <th>Reserva</th>
        <th>Data Atendimento</th>
        <th>Prioridade de Atendimento</th>
        <th>Atendimento</th>
    </tr>
	{% for reservas in ReservaNaoAtendida %}
        <tr>
		<td>{{reservas.Reserva }}</td>
        <td>{{reservas.Data_Atendimento_da_Reserva }}</td>
        <td>{{reservas.Prioridade }}</td>
        <td>{{reservas.Reserva_Atendida }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
