{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Sistema de Reserva de Laboratório</title>
<link href="{% static "css/estilo_principal.css" %}" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="geral">
	<div id="topo">
      <p align="center"><img src="{% static "img/logo_srlab.png" %}" width="500" height="200" /></p>
	</div>
    <div id="menu">
    </div>
    <div id="conteudo">
    <br/>
  </div>
    <div id="rodape">
      <div align="center"><span class="rodape_texto">Sistema de Reserva de Laboratório<br/> 
        desenvolvido por Eliomar Santana, Felipe Coelho e Uilian Carvalho<br /> 
        Curso de Análise e Desenvolvimento de Sistemas</span><br/>
      </div>
  </div>
</div>
</body>
</html>