@charset "utf-8";
/* CSS Document */

body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: left;
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.tamanho_30{
    width: 30%;
    height: auto;
}

.color_red{
  color: #c9302c;
}

